body {

    font-family: 'Roboto', sans-serif;
    color: rgb(216, 216, 216);
}

#game {

    position: absolute;
    top: 0;
    left: 0;
}


/* ===== RESET ===== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 !important;
}